body{

margin:0;
overflow:hidden;
background:#111;
font-family:Arial;
color:white;

}

canvas{

display:block;
background:#222;
image-rendering:pixelated;

}

#toolbar{

position:fixed;

left:0;
top:0;

width:220px;
height:100vh;

background:#000d;

padding:10px;

overflow:auto;

border-right:3px solid red;

z-index:100;

}

.tool{

padding:15px;

margin-top:10px;

background:#222;

border:2px solid white;

cursor:pointer;

}

.tool:hover{

background:#400;

}

.selectedTool{

border:2px solid yellow;

}

#properties{

position:fixed;

right:0;
top:0;

width:220px;
height:100vh;

background:#000d;

padding:10px;

border-left:3px solid red;

z-index:100;

}

button{

width:100%;
height:50px;

margin-top:10px;

background:#300;

border:none;

color:white;

font-size:18px;

cursor:pointer;

}

label{

display:block;

margin-top:15px;

}.tile{

    width:50px;
    height:50px;

    margin:5px;

    border:3px solid white;

    cursor:pointer;
}

.selected{

    border:3px solid yellow;
}

#save{

    margin-top:10px;

    width:100%;
    height:50px;

    background:#300;

    color:white;

    border:none;

    font-size:20px;

    cursor:pointer;
}

#save:hover{

    background:#500;
}
